
    <!-- <button nz-button nzType="primary" (click)="showModal()">
      <span>Show Modal</span>
    </button> -->
    <a style="color: red;" (click)="showModal()"><i nz-icon nzType="delete" nzTheme="outline"></i>លុប</a>
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="ទំនិញ"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
      nzCancelText="បោះបង់"
      nzOkText="លុប"
      nzOkDanger="true"
    >
      <div *nzModalContent>
        <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="name">ឈ្មោះ</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <input nz-input name="name" [disabled]="true" [value]="item.name"/>
            </nz-form-control>
          </nz-form-item >
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzFor="note">ចំណាំ/សម្កាល់</nz-form-label>
            <nz-form-control [nzSpan]="20">
              <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="note" name="note"></textarea>
            </nz-form-control>
          </nz-form-item >
        </form>
      </div>
    </nz-modal>
  