.item-add{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
}

.check-box label{
    margin: 5px 0px;
}

form{
    display: flex;
    justify-content: space-around;
}

.header a{
    border: none;
    box-shadow: none;
}