@font-face {
    font-family: 'Kantumruy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Kantumruy-Regular.ttf);
  }

body{
    font-family: Kantumruy;
}